<html>
    <head>
        <title> Wow Board </title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h2> A Compliments app </h2>
            <form action ="/addwow" method="POST">
                <input type="text" name="newwow" placeholder="add new wow">
                <button> Add Wow </button>
                <h2> Added Wow </h2>
                <button formaction="/removewow" type="submit"> Remove </button>
            </form>
            <h2> Added Wow </h2>
            <% for( var i = 0; i < wow.length; i++){ %>
                <li><input type="checkbox" name="check" value="<%= wow[i] %>" /> <%= wow[i] %> </li>
            <% } %>
            <h2> Completed wow </h2>
        </div>
    </body>
</html>
