doctype html
html
    head
        title= title
        link(rel='shortcut icon', href='//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png')
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/tabs.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
        script(src='/js/index.js')

    body.flex-container.flex-column
        nav.w3-bar.w3-border( role="navigation" )
            a(href="/").w3-bar-item Home
            if locals.user
                a(href="/user" ).w3-bar-item Profile
                a(href="/wows" ).w3-bar-item Give a wow
                a(id="qsLogoutBtn" href="/logout").w3-bar-item Log Out
            else
                a(id="qsLoginBtn" href="/login").w3-bar-item Log In
        .app-background.flex-grow-1
            block content
